.login {

  display: flex;
  justify-content: center;

  .mat-card {
    width: 500px;
    .mat-card-title {
      font: 2em 'Catamaran', sans-serif;
      line-height: 1.25em;
      font-weight: bold;
      text-align: center;
    }

    .mat-card-content {

      display: flex;
      flex-direction: column;
      
      p {
        text-align: center;
        font-size: 1.25em;
        width: 80%;
        align-self: center;
      }

      .mat-form-field {
        width: 80%;
        font-size: 1.3em;
        align-self: center;

        .mat-error {
          line-height: 1.25em;
        }

      }
    }

    .mat-card-actions {
      display: flex;
      justify-content: flex-end;
    }

  }

}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2 {
    color: #eee;
  }
  a {
    color: #eee;
  }
}