@import '../../../shared/styles/button-ripple.scss';
.mat-card {
  max-width: 500px;
  margin: 0 auto;
  .mat-card-title {
    text-align: center;
    font: 2em 'Catamaran', sans-serif;
    font-weight: bold;
  }
  .mat-card-content {
    display: flex;
    justify-content: center;
    @include button-ripple;
    button {
      background: #ddd;
      margin: 0 10px;
      padding: 10px 0;
      cursor: pointer;
      width: 120px;
      border: none;
      border-radius: 3px;
      transition: background 0.5s;
      &:focus {
        outline: none;
      }
      &:not(.for):not(.against):hover {
        background: #ccc;
      }
      &.for {
        background: #B2FF59;
      }
      &.against {
        background: #FF6161;
      }
    }
  }
  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, .12);
  }
}