.mat-card-title {
  text-align: center;
  font: 2em 'Catamaran', sans-serif;
  font-weight: bold;
}

.mat-card-content {
  display: flex;
  justify-content: center;

  button {
    background: #eee;
    margin: 0 10px;
    width: 120px;
    transition: background 0.5s;

    &.for {
      background: #B2FF59;
    }
    &.against {
      background: #FF6161;
    }

  }

}