.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__actions {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    button {
      margin: 3px;
    }
  }
  .video__number {
    p {
      color: #eee;
      font-size: 2em;
      margin: 0;
      text-align: center;
    }
  }
  .video__wrapper {
    max-width: 90vw;
    overflow: hidden;
    padding: 5px;
  }
}