<div class="margin center">
  <app-loader [type]="loaderType" [data]="loaded">
    <ng-template>
      <form [formGroup]="votingForm">
        <div formArrayName="movies">
          <div *ngFor="let movie of movies.controls; let i = index" class="margin">
            <app-voting-card [formControlName]="i"></app-voting-card>
          </div>
        </div>
        <div class="margin submit">
          <button mat-raised-button type="submit">
            Umfrage beenden
          </button>
        </div>

      </form>
    </ng-template>
  </app-loader>
</div>