<div class="margin center">
  <app-loader [type]="spinner" [data]="loaded" *ngIf="user?.voted === false;">
    <ng-template>
      <form [formGroup]="votingForm">
        <div formArrayName="movies">
          <div *ngFor="let movie of movies.controls; let i = index" class="margin">
            <app-voting-card [formControlName]="i"></app-voting-card>
          </div>
        </div>
        <div class="margin submit">
          <button mat-raised-button class="submit__button" color="primary" (click)="finishVoting()">
            Umfrage beenden
          </button>
        </div>
      </form>
    </ng-template>
  </app-loader>
  <div class="voted-text" *ngIf="user?.voted === true">
    <h1 class="voted-text__header">Danke für's Wählen, bis zum nächsten Trailerabend!</h1>
    <span class="voted-text__emoji" role="img" aria-label="Party Popper">🎉</span>
  </div>
</div>