<div class="center margin">
  <mat-card>
    <mat-card-title>
      Teilnehmer
    </mat-card-title>
    <mat-card-content>
      <app-loader [data]="loaded">
        <ng-template>
          <mat-table [dataSource]="userDataSource">
            <ng-container matColumnDef="userName">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="voted">
              <mat-header-cell *matHeaderCellDef> Gewählt? </mat-header-cell>
              <mat-cell *matCellDef="let user">
                <mat-slide-toggle [checked]="user.voted" (change)="updateVoted($event, user.id)">
                  {{user.voted ? 'ja' : 'nein'}}
                </mat-slide-toggle>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="details">
              <mat-header-cell *matHeaderCellDef> Details </mat-header-cell>
              <mat-cell *matCellDef="let user">
                <button>test</button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedCols"></mat-header-row>
            <mat-row *matRowDef="let myRowData; columns: displayedCols"></mat-row>
          </mat-table>
        </ng-template>
      </app-loader>
    </mat-card-content>
  </mat-card>
</div>